<%= render 'shared/page_title', title: 'Giriş Yap' %>

<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <%= form_tag '/login' do %>
        
            <%= label_tag :email %>
            <%= text_field_tag :email %>
            
            <%= label_tag :Şifre %>
            <%= password_field_tag :password %>
            
            <%= submit_tag 'Giriş Yap', class: 'btn btn-success' %>
    
        <% end %>
    </div>
</div><!-- ROW -->


