<%= render 'shared/page_title', title: @recipe.name %>


<div class="row">
    <div class="col-md-4 pull-right center">
        <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
        <p>
            <h5> <%= @recipe.chef.chefname %> tarafından eklendi.</h5>
        </p>
        
    </div><!-- col md 4 -->
    
    <div class="col-md-8">
        <% if logged_in? and (@recipe.chef === current_user || current_user.admin?) %>
            <%= link_to "Bu Tarifi Düzenle", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
        <% end %>
        <% if logged_in? and current_user.admin? %>
          <%= link_to "[Tarifi Sil]", @recipe, method: :delete, data: { confirm: "Emin misin?" } %>
        <% end %>
        <h3><%= @recipe.summary %></h3>
        <div class="show_recipe">
            <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
            
        </div><!--SHOW RECIPE --> 
    
    
        <div class="well">
            <% if @recipe.styles.any? %>
              <p>Mutfağı: <%= render @recipe.styles %></p>
            <% end %>
            <% if @recipe.ingredients.any? %>
              <p>Öğün: <%= render @recipe.ingredients %></p>
            <% end %>
            <p>
                <strong>Adımlar:</strong>
            </p>
            <%= simple_format(@recipe.description) %>
            <div class="pull-right">
                <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @recipe.thumbs_up_total %>
              
                    
                <% end %> &nbsp&nbsp&nbsp
                
                <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @recipe.thumbs_down_total %>
                    
                <% end %>
            </div>
        </div><!-- well -->
    </div><!-- col-md-8 -->
</div><!-- row --> 

<h5><%= link_to "Tarifleri Listesine Geri Dön", recipes_path, class: "btn btn-warning btn-small" %></h5>